<section class="contact-us" id="contact">
    <div class="text-danger" style="text-align: center;">
        <span class="px-2 mx-2"><a href="https://t.me/modernscience_research" class="text-decoration-underline" target="_blank"><i class="bi bi-telegram"></i> Telegram</a></span>
        <span class="px-2 mx-2"><a class="text-decoration-underline" href="#" target="_blank">ZENODO</a></span>
        <span class="px-2 mx-2"><a class="text-decoration-underline" href="#">OpenAire</a></span>
        <span class="px-2 mx-2"><a class="text-decoration-underline" href="#"
                 target="_blank">Copernicus</a></span>
        <span class="px-2 mx-2"><a class="text-decoration-underline" href="#"
                 target="_blank">Cyberleninka</a></span>
        <span class="px-2 mx-2" ><a class="text-decoration-underline" href="#"
                 target="_blank">Google Scholar</a></span>
        <span class="px-2 mx-2"><a class="text-decoration-underline" href="#" target="_blank">Impact Factor</a></span>
    </div>
    <div class="footer">
        <p>©
            <b>"Modern Science and Research"</b> xalqaro ilmiy jurnali <br>
            Maqolalardan foydalanilganda maqola mualliflarini, jurnal nomini va saytdagi URL manzilini ko'rsatish talab
            etiladi.
        </p>
    </div>
</section>