{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 mb-12" style="text-align:center">
                                <h2 class="card-title citation_title">
                                    <span class="badge bg-success"
                                          style="white-space: normal;">{{ object.article_name }}</span>
                                </h2>
                                <p class="card-text">
                                        <span class="badge bg-secondary"><i
                                                class="bi bi-calendar2-date"
                                                style="white-space: normal;"></i>{{ object.date|date:"d.m.Y" }}</span>
                                    <span class="badge bg-secondary">"Modern Science and Research" xalqaro ilmiy jurnali 1 seriyasi. Volume {{ object.volume }} Issue {{ object.issue }}</span>
                                </p>
                                <section class="item authors">
                                    <p class="card-text">
                                    </p>
                                    <h3 class="citation_author"><span class="badge rounded-pill bg-success"><b>{{ object.writer }}</b></span>
                                    </h3>
                                    <p></p>
                                </section>
                                <section class="item abstract">
                                    <p class="text-info" style="text-align: justify;">
                                        <b>Abstract. </b> {{ object.annotation }}
                                    </p>
                                </section>
                                <section class="item keywords">
                                    <p class="text-info" style="text-align: justify;">
                                        <b>Keywords:</b> {{ object.key_word }}
                                    </p>
                                </section><br>
                                <p class="text-info">
                                    <a href="/media/{{ object.article_pdf }}" target="_blank"
                                       class="card-link" style="text-decoration:none" title="Jurnal rasmiy sayti">
                                        <img src="{% static "images/premium-icon-pdf-4726010.png" %}" style="width: 30px;">
                                    </a>
                                    <a href="https://doi.org/10.5281/zenodo.6466351" target="_blank"
                                       class="card-link" style="margin-left:1px;" title="DOI"><img
                                            src="{% static "images/DOI_logo.png" %}" style="width:30px"></a>
                                    <a href="https://zenodo.org/record/6466351" target="_blank" class="card-link"
                                       style="margin-left:1px;" title="ZENODO"><img src="{% static "images/zenodo_logo.png" %}"
                                                                                    style="width: 40px;"></a>
                                    <a href="https://explore.openaire.eu/search/publication?pid=10.5281%2Fzenodo.6466351"
                                       target="_blank" class="card-link" style="margin-left:1px;"
                                       title="OpenAire"><img src="{% static "images/openaire_logo.png" %}"
                                                             style="margin-top:6px;width: 50px;"></a>
                                    <a href="http://olddrji.lbp.world/JournalVolumeDetails.aspx?jid=2181-3337&amp;vol=Volume%20:%201%20Issue%20:%201,%20April,%202022&amp;volid=1"
                                       target="_blank" class="card-link" style="margin-left:1px;"
                                       title="Directory of Research Journals Indexing"><img
                                            src="{% static "images/drji_logo.png" %}" style="margin-top:4px;width: 30px;"></a>
                                    <a href="https://journals.indexcopernicus.com/search/journal/issue?issueId=313931&amp;journalId=123131"
                                       target="_blank" class="card-link" style="margin-left:1px;"
                                       title="Index Copernicus"><img src="{% static "images/logo_ici.png" %}"
                                                                     style="margin-top:4px;width: 30px"></a>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}