{% extends 'layouts/base.html' %}
{% load static %}
{% block title1 %}Impact Factor{% endblock %}
{% block content %}
    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="card border-danger">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 mb-12" style="text-align:center">
                            <p class="card-title"><span class="badge"
                                                         style="white-space: normal;background-color: rgba(24,188,156);font-size: 1.1rem;">Georgia's Universal Impact Factor rated the international scientific journal Science and Innovation with 8.2 points.</span>
                            </p>
                            <p class="text-info">
                                The international scientific journal Science and Innovation is indexed in 6
                                international scientific databases.
                                <a class="text-decoration-underline text-dark" href="https://scientists.uz/files/uif_2022.pdf">Download</a><br>
                                <a class="text-decoration-underline text-danger" href="https://scholar.google.com/scholar?hl=en&amp;as_sdt=0%2C5&amp;q=%222181-3337%22&amp;oq="
                                   target="_blank">Google Scholar,</a>
                                <a class="text-decoration-underline text-danger" href="https://zenodo.org/communities/sai_2181-3337" target="_blank"> ZENODO,</a>
                                <a class="text-decoration-underline text-danger" href="http://scientists.uz/openaire.php" target="_blank"> OpenAire,</a>
                                <a class="text-decoration-underline text-danger" href="http://olddrji.lbp.world/JournalProfile.aspx?jid=2181-3337" target="_blank">
                                    DRJI,</a>
                                <a class="text-decoration-underline text-danger" href="https://journals.indexcopernicus.com/search/journal/issue?issueId=all&amp;journalId=123131"
                                   target="_blank"> Index Copernicus,</a>
                                <a class="text-decoration-underline text-danger" href="https://cyberleninka.ru/journal/n/science-and-innovation?i=1105817"
                                   target="_blank"> Cyberleninka,</a>
                                <br>
                            </p>
                        </div>
                        <div class="col-lg-12 mb-12">
                            <div class="row">
                                <img src="{% static 'images/UIF.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}