{% extends 'layouts/base.html' %}
{% load static %}
{% block title1 %}Ilm-Fan Innovatsion Tadqiqotlar Yetakchisi{% endblock %}
{% block content %}
    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 mb-12">
                            <div class="row">
                                <div class="col-lg-12 card">
                                    <img src="{% static 'images/award2.png' %}" style="width: 60%;">
                                </div>
                                <div class="col-lg-9 mb-9">
                                    <h4 class="card-title"><span class="badge bg-success" style="white-space: normal;">"ILMIY-INNOVATSION TADQIQOTLAR YETAKCHISI" esdalik ko'krak nishoni</span>
                                    </h4>
                                    <p class="text-words">
                                        Ilm-fan va innovatsiyalar akademiyasi, "Science and innovation" xalqaro ilmiy
                                        jurnali tahririyati ilmiy tadqiqot ishlari olib borayotgan, ilmiy maqolalari
                                        xalqaro darajada ommalashtirilib, nufuzli bazalarda indekslanayotgan, ilmiy
                                        ishlar nashr qilishda faol bo'lgan ilmiy tadqiqotchilar, "Science and
                                        innovation" xalqaro ilmiy jurnalida yil davomida eng ko'p maqolasi chop etilgan
                                        10 nafar yetakchi mualliflar yil yakunida "ILMIY-INNOVATSION TADQIQOTLAR
                                        YETAKCHISI" ko'krak nishoni bilan taqdirlanadi.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}