{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block title1 %}Ilmiy bazalar{% endblock %}
{% block content %}
    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 mb-12">
                            <div class="row">

                                <h3 style="text-align:center"><span class="badge bg-primary" style="white-space: normal;">"Modern Science and Research" {% translate "xalqaro ilmiy jurnali maqolalari joylashtiriladigan ilmiy bazalar" %}</span>
                                </h3>
                                <br><br>
                                <p class="lead">
                                    <br>
                                    <a href="#"
                                       target="_blank">
                                        <img src="https://scholar.google.com/intl/en/scholar/images/2x/scholar_logo_64dp.png"
                                             style="max-width:300px">
                                    </a>
                                    <a href="#"
                                       target="_blank" class="mx-2 px-2">
                                        <img src="http://olddrji.lbp.world/images/DRJI_Logo.jpg"
                                             style="max-width:260px">
                                    </a>
                                    <a href="#" target="_blank" class="mx-2 px-2">
                                        <img src="https://zenodo.org/static/img/zenodo.svg"
                                             style="max-width:300px;background:#075ab6">
                                    </a>
                                    <a href="#"
                                       target="_blank" class="px-3 mx-3">
                                        <img src="https://indexcopernicus.com/images/logo_glowne_1000.png"
                                             style="max-width:300px;">
                                    </a>

                                    <a href="#"
                                       target="_blank" class="mx-3 px-3">
                                        <img src="https://cyberleninka.ru/images/logo-head.svg"
                                             style="max-width:100px;">
                                    </a>
                                    <a href="#" target="_blank">
                                        <img src="https://explore.openaire.eu/assets/common-assets/logo-services/explore/main.svg"
                                             style="max-width:300px;">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}